<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rack Visualization</title>
    <th:block th:replace="~{fragments/common::head}"></th:block>
    <link rel="stylesheet" href="/css/racks.css">
</head>
<body>
<div class="navbar">
    <th:block th:replace="~{fragments/common::loggedNav}"></th:block>
</div>
<h1>Rack Visualization</h1>

<div class="rack-container">
    <div class="rack" th:each="rack : ${racks}">
        <h2 th:text="${rack.name}">Rack Name</h2>
        <ul class="product-list">
            <li th:each="productRack : ${rack.productRacks}">
                <div class="product-details">
                    <strong>Product Name:</strong> <span th:text="${productRack.product.name}">Product Name</span><br>
                    <strong>SKU:</strong> <span th:text="${productRack.product.sku}">Product SKU</span><br>
                    <strong>Quantity:</strong> <span th:text="${productRack.product.quantity}">Quantity</span><br>
                    <strong>Position:</strong> <span th:text="|${productRack.firstPosition} - ${productRack.lastPosition}|">Position on Rack</span>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>
</html>
