<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sold Products</title>
    <th:block th:replace="~{fragments/common::head}"></th:block>
    <link rel="stylesheet" href="/css/inventory.css">
</head>
<body>
<div class="navbar">
    <th:block th:replace="~{fragments/common::loggedNav}"></th:block>
</div>
<div class="container">
    <h1>Sold Products</h1>
    <table>
        <thead>
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Sold Date</th>
            <th>Quantity Sold</th>
            <th>Company/Customer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${soldProducts}">
            <td th:text="${item.product.sku}"></td>
            <td th:text="${item.product.name}"></td>
            <td th:text="${item.order.orderDate}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.order.company}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
